@charset "UTF-8";
/*----------------------/*
|    VARIABLES
\*-----------------------*/
/* - - - - - - - - - - - /*
     COLORS
/* - - - - - - - - - - - */
/* - - - - - - - - - - - /*
     FONT
/* - - - - - - - - - - - */
/* - - - - - - - - - - - /*
     MARGIN & PADDINS
/* - - - - - - - - - - - */
/*----------------------/*
|     GENERAL STYLES
\*-----------------------*/
/* - - - - - - - - - /*
        FONTS
/* - - - - - - - - - */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?6mnnbl");
  src: url("fonts/icomoon.eot?6mnnbl#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?6mnnbl") format("truetype"), url("fonts/icomoon.woff?6mnnbl") format("woff"), url("fonts/icomoon.svg?6mnnbl#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: #818185;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flex:before {
  content: "";
  color: #818185;
}

.icon-responsive:before {
  content: "";
}

.icon-grid:before {
  content: "";
  color: #818185;
}

.icon-figma:before {
  content: "";
  color: #f24e1e;
}

.icon-illustrator:before {
  content: "";
  color: #ff7c00;
}

.icon-photoshop:before {
  content: "";
  color: #00c8ff;
}

.icon-bootstrap:before {
  content: "";
  color: #563d7c;
}

.icon-js:before {
  content: "";
  color: #f7df1e;
}

.icon-mail:before {
  content: "";
}

.icon-menu:before {
  content: "";
  position: absolute;
  font-size: 24px;
  color: #FFFFFF;
  top: 16px;
  right: 16px;
}

.icon-cross:before {
  content: "";
  position: absolute;
  font-size: 24px;
  color: #FFFFFF;
  top: 16px;
  right: 16px;
}

.icon-f:before {
  content: "";
}

.icon-i:before {
  content: "";
}

.icon-w:before {
  content: "";
}

.icon-github:before {
  content: "";
}

.icon-html:before {
  content: "";
  color: #f24e1e;
}

.icon-css3:before {
  content: "";
  color: #346080;
}

.icon-git:before {
  content: "";
  color: #f24e1e;
}

/* - - - - - - - - - - /*
      GENERAL STYLES  
/* - - - - - - - - - - */
* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  display: bolck;
  width: 100%;
  height: 100%;
}

img {
  display: block;
}

/* - - - - - - - - - - /*
       GENERAL FONT  
 /* - - - - - - - - - - */
h1 {
  font-size: 40px;
  margin: 24px 0;
}

h2 {
  font-size: 20px;
  color: #346080;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
}

h3 {
  font-size: 16px;
  color: #3A3A3A;
}

p {
  font-size: 14px;
  color: #3A3A3A;
  margin-top: 24px;
  text-align: justify;
}

.p-large {
  font-size: 16px;
  margin-top: 24px;
}

.p-small {
  font-size: 12px;
  margin-top: 16px;
}

/* - - - - - - - - - - /*
       GENERAL BUTTONS  
 /* - - - - - - - - - - */
.large-button {
  display: block;
  width: 162px;
  height: 52px;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  border-radius: 5px;
  background-color: #346080;
  padding: 16px 24px;
  margin: 24px auto;
}

.button {
  display: block;
  width: 74px;
  height: 25px;
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  background-color: #346080;
}

.button-white {
  border: 2px solid #FFFFFF;
  background-color: transparent;
}

/* - - - - - - - - - - /*
        MIXINS  
/* - - - - - - - - - - */
/*----------------------/*
|     HEADER STYLES
\*-----------------------*/
#header {
  background-color: rgba(0, 0, 0, 0.6);
  height: 400px;
  color: #FFFFFF;
}
#header #main-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0px;
  width: 60%;
  height: 300px;
  background-color: rgba(166, 166, 166, 0.97);
  border-radius: 20px 0 0 20px;
}
#header #main-menu h3 {
  width: 80%;
  color: #346080;
  margin: 48px 24px 0;
}
#header #main-menu ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 16px;
}
#header #main-menu ul li {
  border-bottom: 2px solid #3A3A3A;
  height: 50px;
  margin: 0 24px;
}
#header #main-menu ul li a {
  color: #3A3A3A;
  line-height: 50px;
}
#header .header-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 375px;
}
#header .header-text h3 {
  color: #FFFFFF;
}
#header .header-text p {
  color: #FFFFFF;
}
#header .header-text .buttons {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
#header .header-text .buttons .button {
  margin-right: 16px;
}

/*----------------------/*
|       ACERCA DE
\*-----------------------*/
/* - - - - - - - - - /*

/* - - - - - - - - - */
#acerca img {
  max-width: 199px;
  max-height: auto;
  text-align: center;
  background-color: aqua;
  box-shadow: -10px 10px 0 #346080;
  margin: 48px auto;
}

/*----------------------/*
|     TEGNOLOGIES
\*-----------------------*/
/* - - - - - - - - - /*

/* - - - - - - - - - */
#tegno {
  display: flex;
  flex-flow: row wrap;
  margin: 48px auto;
}
#tegno .box-tegno {
  /* estilos de cajas con sombra */
  display: flex;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px #818185;
  padding: 16px;
  margin-top: 24px;
}
#tegno .box-tegno .box-tegno-icons {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 30%;
  width: 88px;
}
#tegno .box-tegno .box-tegno-icons i {
  font-size: 40px;
  margin: 5px auto;
}
#tegno .box-tegno .box-tegno-text {
  flex-basis: 70%;
  padding-left: 5px;
  padding-right: 5px;
}

/*----------------------/*
|     SERVICE
\*-----------------------*/
/* - - - - - - - - - /*

/* - - - - - - - - - */
#service .service-img {
  position: relative;
  overflow: hidden;
}
#service .service-img .blue {
  position: absolute;
  top: -23px;
  left: 0;
  right: 0;
  width: 300px;
  height: 300px;
  background-color: rgba(52, 96, 128, 0.5);
  transform: rotate(45deg);
  margin: 0 auto;
}
#service .service-img img {
  margin: 0 auto;
}
#service .service-text h3 {
  text-align: center;
  margin-top: 24px;
}

/*----------------------/*
|     PROYECTS
\*-----------------------*/
#projects .project {
  /* estilos de cajas con sombra */
  display: flex;
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px #818185;
  padding: 16px;
  margin-top: 24px;
  height: 120px;
}
#projects .project img {
  width: 88px;
  height: 88px;
  padding: 0 5px;
  margin: auto;
}
#projects .project-text {
  flex-basis: 70%;
}
#projects .project-text .sub-title-project {
  margin: 0;
}

.caja {
  width: 88px;
  height: 88px;
  background-color: gray;
  margin: auto 0;
  padding-right: 16px;
}

/*----------------------/*
|    CONTACTO
\*-----------------------*/
#contacto h3 {
  text-align: center;
  margin-top: 24px;
}
#contacto form {
  margin: 48px 0;
}
#contacto form input {
  width: 100%;
  height: 48px;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
  padding-left: 12px;
  margin-top: 16px;
}
#contacto form textarea {
  width: 100%;
  border: 1px solid #A6A6A6;
  border-radius: 5px;
  padding-left: 12px;
  padding-top: 16px;
  margin-top: 16px;
}

/*----------------------/*
|    FOOTER
\*-----------------------*/
#footer {
  background-color: #346080;
  height: 40px;
}
#footer .footer-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100%;
}
#footer .footer-content h4 {
  flex-basis: 50%;
  color: #818185;
  font-size: 24px;
}
#footer .footer-content .footer-icons {
  display: flex;
  flex-basis: 45%;
  justify-content: space-between;
  padding-left: 10px;
}
#footer .footer-content .footer-icons i {
  font-size: 24px;
}

/*# sourceMappingURL=styles.css.map */
