/*----------------------/*
|       ACERCA DE
\*-----------------------*/

/* - - - - - - - - - /*
        
/* - - - - - - - - - */

#acerca{

    img{
        max-width: 199px;
        max-height: auto;
        text-align: center;
        background-color: aqua;
        box-shadow: -10px 10px 0 $main-color;
        margin: $margin-large auto;
    }
}






