/*----------------------/*
|     GENERAL STYLES
\*-----------------------*/

/* - - - - - - - - - /*
        FONTS
/* - - - - - - - - - */

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6mnnbl');
  src:  url('fonts/icomoon.eot?6mnnbl#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6mnnbl') format('truetype'),
    url('fonts/icomoon.woff?6mnnbl') format('woff'),
    url('fonts/icomoon.svg?6mnnbl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: $icon-color;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-flex:before {
  content: "\e908";
  color: #818185;
}
.icon-responsive:before {
  content: "\e900";
}
.icon-grid:before {
  content: "\e901";
  color: #818185;
}
.icon-figma:before {
  content: "\e902";
  color: #f24e1e;
}
.icon-illustrator:before {
  content: "\e903";
  color: #ff7c00;
}
.icon-photoshop:before {
  content: "\e904";
  color: #00c8ff;
}
.icon-bootstrap:before {
  content: "\e905";
  color: #563d7c;
}
.icon-js:before {
  content: "\e906";
  color: #f7df1e;
}
.icon-mail:before {
  content: "\e907";
}
.icon-menu:before {
  content: "\e9bd";
  position: absolute;
  font-size: 24px;
  color: $color-white;
  top: 16px;
  right: 16px;
}
.icon-cross:before {
  content: "\ea0f";
  position: absolute;
  font-size: 24px;
  color: $color-white;
  top: 16px;
  right: 16px;
}
.icon-f:before {
  content: "\ea91";
}
.icon-i:before {
  content: "\ea92";
}
.icon-w:before {
  content: "\ea93";
}
.icon-github:before {
  content: "\eab0";
}
.icon-html:before {
  content: "\eae4";
  color: #f24e1e;
}
.icon-css3:before {
  content: "\eae6";
  color: $main-color;
}
.icon-git:before {
  content: "\eae7";
  color: #f24e1e;
}
  /* - - - - - - - - - - /*
        GENERAL STYLES  
  /* - - - - - - - - - - */

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}

.container{
    width: 90%;
    margin: 0 auto;
}
a{
    display: bolck;
    width: 100%;
    height: 100%;
}
img{
    display: block;
}

 /* - - - - - - - - - - /*
        GENERAL FONT  
  /* - - - - - - - - - - */

h1{
    font-size: 40px;
    margin: $margin-normal 0;
}
h2{
    font-size: 20px;
    color: $main-color;
    text-align: center;
    text-transform: uppercase;
    margin-top: $margin-normal;
}
h3{
    font-size: 16px;
    color: $letter-color;
}


p{
    font-size: $font-nr;
    color: $letter-color;
    margin-top: $margin-normal;
    text-align: justify;
}
.p-large{
    font-size: $font-lg;
    margin-top: $margin-normal;
}
.p-small{
    font-size: $font-sm;
    margin-top: 16px;
}


 /* - - - - - - - - - - /*
        GENERAL BUTTONS  
  /* - - - - - - - - - - */
.large-button{
    display: block;
    width: 162px;
    height: 52px;
    font-size: $font-lg;
    color: $color-white;
    text-align: center;
    border-radius: 5px;
    background-color: $main-color;
    padding: 16px 24px;
    margin: $margin-normal auto;
}
.button{
   display: block;
   width: 74px;
   height: 25px;
   font-size: $font-sm;
   font-weight: bold;
   color: $color-white;
   background-color: $main-color;
}
.button-white{
  border: 2px solid $color-white;
  background-color: transparent;
}

/* - - - - - - - - - - /*
        MIXINS  
/* - - - - - - - - - - */

@mixin box { /* estilos de cajas con sombra */
  display: flex;     
  width: 90%;
  border-radius: 10px;
  box-shadow: 0 0 10px $icon-color;
  padding: $padding-s;
  margin-top: $margin-normal;  

  // @media (min-width:544px){
  //   max-width: 348px;
  // }
}