/*----------------------/*
|     MY WORK
\*-----------------------*/

@media (min-width:768px){

    #work{
        margin-top: $margin-large;
        p{
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}