/*----------------------/*
|     PROYECTS
\*-----------------------*/

#projects{
    

    .project{
        @include box;
        height: 120px;
        flex-flow: row nowrap;

        img{           
            padding:0 5px;
            margin: auto;
            flex-basis: 20%;
        }
    }
    .project-text{
        flex-basis: 70%;
        // padding: $padding-s;

        .sub-title-project{
            margin: 0;
        }
    }

    @media (min-width:768px){

        margin-top: $margin-large;

        .project{
            width: 70%;
        }
    }
}

.caja{
    background-color: gray;
    margin: auto 0;
    padding-right: 16px;
}