/*----------------------/*
|     SERVICE
\*-----------------------*/

/* - - - - - - - - - /*
        
/* - - - - - - - - - */

#service{


    .service-img{

        img{
            margin: 0 auto;
        }
    }

    .service-text{

        h3{
            text-align: center;
            margin-top: $margin-normal;
        }
    }
}