/*----------------------/*
|     SERVICE
\*-----------------------*/

/* - - - - - - - - - /*
        
/* - - - - - - - - - */

#service{


    .service-img{
        position: relative;
        overflow: hidden;

        .blue{
            position: absolute;
            top: -23px;
            left: 0;
            right: 0;
            width: 300px;
            height: 300px;
            background-color: rgba($color: $main-color, $alpha: .5);
            transform: rotate(45deg);
            margin: 0 auto;
        }

        img{
            margin: 0 auto;
        }
    }

    .service-text{

        h3{
            text-align: center;
            margin-top: $margin-normal;
        }
    }

    
}
@media (min-width:768px){
 
    #service{
        display: flex;
        flex-flow: row nowrap;

        .service-img{
            flex-basis: 50%;
            order: 2;
        }

        .service-text{
            flex-basis: 50%;
            order: 1;
            padding: 0 16px;
        }
    }

}