/*----------------------/*
|     TEGNOLOGIES
\*-----------------------*/

#tegno{
    display: flex;
    flex-flow: row wrap;
    margin: $margin-large auto;

    .box-tegno{
        @include box;

        .box-tegno-icons{
            display: flex;
            flex-flow: row wrap;
            flex-basis: 30%;

            @media (min-width:668px){
                padding: 0 20px;
            }

            i{
                font-size: 32px;
                margin: auto auto;

                @media (min-width: 402px){
                    font-size: 36px;
                }
                @media (min-width: 468px){
                    font-size: 48px;
                }
                @media (min-width: 579px){
                    // font-size: 56px;
                    padding: 0 10px;
                }
            }
        }

        .box-tegno-text{
            flex-basis: 70%;
            padding-left: 5px;padding-right: 5px;
        }        
    }   
/* - - - - - - - - - /*
   TEGNO RESPONSIVE
/* - - - - - - - - - */

    @media (min-width:768px){
    
        .box-tegno{
            width: 43%;

            .box-tegno-icons{

                i{
                    font-size: 38px;
                    padding: 0;
                }
            }

        }    
    }
     
}



