/*----------------------/*
|    VARIABLES
\*-----------------------*/

/* - - - - - - - - - - - /*
     COLORS
/* - - - - - - - - - - - */   

$main-color: #346080;
$letter-color: #3A3A3A;
$icon-color: #818185;
$bg-grey: #A6A6A6;
$color-white: #FFFFFF;


/* - - - - - - - - - - - /*
     FONT
/* - - - - - - - - - - - */ 

$font-lg: 16px;
$font-nr: 14px;
$font-sm: 12px;

/* - - - - - - - - - - - /*
     MARGIN & PADDINS
/* - - - - - - - - - - - */ 

$margin-small: 16px;
$margin-normal: 24px;
$margin-large: 48px;

$padding-s: 16px;
$padding-n: 24px;
$padding-l: 48px;